public/wsdl/Offer_CreateOffer_13_2_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/POFRCQ_13_2_1A" xmlns="http://xml.amadeus.com/POFRCQ_13_2_1A" elementFormDefault="qualified">
  <xs:element name="Offer_CreateOffer">
    <xs:annotation>
      <xs:documentation xml:lang="en">To create a new offer</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="airPricingRecommendation" minOccurs="0" maxOccurs="198">
          <xs:annotation>
            <xs:documentation xml:lang="en">This group enables to perform the fare selection, i.e. for each pax, specify which of the fare returned should be selected to create an offer with</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="fareRecommendationReference" type="ItemReferencesAndVersionsType" />
              <xs:element name="paxReference" minOccurs="0" type="ReferenceInformationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Passenger selection to associate with selected Fare Recommendation</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="totalPrice" minOccurs="0" type="MonetaryInformationType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Total price of the offer</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="productReference" minOccurs="0" type="ReferenceInfoType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Provides a reference to an itinerary product which is in the flow context  Today the reference can be a Car or a Hotel reference:  HPI: Hotel Product Index CPI: Car Product Index BC : hotel Booking Code ST : Segment Tattoo CUI: Car rate Unique Identifier</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ItemReferencesAndVersionsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Exchange and link unique identifiers</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="referenceType" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">qualifies the type of pricing record reference used.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="uniqueReference" type="NumericInteger_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Recommendation number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the type of monetary amount, the amount, and the currency code.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="typeQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Offer Ammount qualifier (e.g. tax including or excluding) GT = Offer Grand Total including OB Fees</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="amount" minOccurs="0" type="NumericDecimal_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Amount</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="currency" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Currency  Not used for mark-up in POFCRQ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey monetary amounts, rates and percentages.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="monetaryDetails" type="MonetaryInformationDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Total price details of an offer</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherMonetaryDetails" minOccurs="0" type="MonetaryInformationDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">This composite can be repeated to carry information ion  the tax inclusion for hotel: - included - excluded - unknown</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenceInfoType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide specific product reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="referenceDetails" maxOccurs="2" type="ReferencingDetailsType_244953C" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenceInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to convey the passenger references.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="passengerReference" minOccurs="0" maxOccurs="99" type="ReferencingDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Used to convey the passenger tatoo or display number.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferencingDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of Passenger (PA for Adult, PI for Infant and P for both)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="value" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Tattoo of the Passenger name element</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferencingDetailsType_244953C">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide reference identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">CPI: Line number/index of the cryptic availability This  CUI: Unique identifier of the rate in the rich content context.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="value" minOccurs="0" type="AlphaNumericString_Length1To32" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,5}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericDecimal_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal" />
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To32">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..32</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="32" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.0.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B08000000000000009553C96EDB3010BDF32B885C7A28AC254D7B30C083E2252D50DBA9E3DC0C188C38B68950A4CAA102AB41FEBD43496E52A0405B40106686E42CEFBDB9992D67EB62339BEE564B7199E557A3EC7294E77CD3002AD9F2FC6A4CDFC72B7EB3D8BCCFB27196B1625184B6069C6B0356562028B0BB96A8CB4D0C272754EC41222CE90C6B59823886508FD3F45499445652418349E9AA943D345619986A2F528410B43D60AA7489AC3C42F97847FF4A8AE01B60A5534057505867A3575560C91BCEAA5ADA369613B631860275EBF5E118C445D197E3B7DED55E4390BEE5D22A3E7176AF15E5D0D2F02F76EF7C25837676CC1B2B9B70745EFF00C51B84EEBAD2581A878D078EC1EB329896D39B07AD2847C209B78C8FF8B9182632C1E81BC3D7B10FE46BEADE3F814A2E9882BD6C4CB8F175844B89BD34084CB9E6C1C01D7C6FC096702B43791C4EC05EFF1398605FEF3C47825E76CF4FE091A622CB83014A43963C5085F685ED89BE756308331799ECFC8ECEEE71B4FE92C0B8529A0172E30E8A689C8EB79F67C5743B537A2FCBB071CEE076B6D94D350669C3849822FE88B9ED42FA47888CF777B0E31AB75FDD8172D943D788562B6B5A56813FC0004667CF35188577CE875FF0D1E0487D151831FD3D3625D6B5199463FF0BA2DA691B96107A3A3AB179E7C21B843A3F0A3861FD0811518C8B94A5593EC470EE7C6134E51E141BB5A04BC02929896A93287B14B1923EC4BCF756973AB4C320C14B8BA6D327E123086B4C87CC9B62913E2B309AC69024A097844E596C4FBD5D1F12CBE4BC337D4E8A7450759BAC6DC94E68C2AA097513E6CE28F02206181B8D163D8CEF90EBD73D198D580F92C80BF6A6BE286E8BDD6ABF07BFCBAF72527525B515ABF99AC1A926C2761277D3D98DD8ACEF676782B8F420C5E5A7FC1C10B7F460F28DD5B4121A8F44720F7DCF8FB824EB4947D244DE63233B18455F7742D90274363BF3F487A38177917F603F015A3AD1C004050000
-->

